/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.jumbotron {
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000e0;
    color: white;
    font-family: 'Anton', sans-serif;
}

#meuHeader {
    width: 100%;
    height: 50px;
    background-color: rgb(20, 20, 20);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

#logo {
    width: 8%;
    margin-top: 0.50%;
    text-align: center;
}

#logo img {
    width: 80%;
}

#meuHeader i {
    cursor: pointer;
    margin-left: 95%;
    position: fixed;
    z-index: 2;
}

#meuHeader #botao-2 {
    display: none;
}

#meuHeader ul {
    margin-top: 10px;
    display: none;
    justify-content: space-between;
    font-size: 2.8rem;
    transition: 2s;
}

#meuHeader li {
    display: flex;
    margin: 10px;
    cursor: pointer;
    margin-top: 14px;
}

#meuHeader a {
    text-decoration: none;
    color: white;
    transition: 0.50s;
}

#meuHeader a:hover {
    color: #ee2027;
}

#meuHeader #botao:active,
#meuHeader #bota-2:active {
    color: red;
}

#meuHeader #bota-2:active {
    color: red;
}


/* Search */

.menuSearch {
    width: 18%;
    display: grid;
    margin: auto;
    display: table;
}

#cardMarvel {
    width: 42%;
    text-align: center;
    margin-top: 40px !important;
    margin: auto;
}

.descricaoHeroi {
    width: 42%;
    text-align: center;
    margin-bottom: 40px !important;
    margin-top: 41px !important;
    margin: auto;
}

#imgHero:hover {
    opacity: 85%;
    box-shadow: inset 0 0 1em gold, 0 0 1em rgb(255, 255, 255);
}

.father {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divQuadrinho {
    margin-top: 28px;

}

.cardQuadrinho {
    flex: 1 1 150px;
    margin: 24px;
    text-align: center
}

/* .cardQuadrinho:hover {
    box-shadow: inset 0 0 1em rgba(255, 245, 188, 0.212), 0 0 1em rgba(255, 255, 255, 0.377);
} */

.quadrinhoTitle {
    flex: 1 1 150px;
    margin: 15px;
    text-align: center
}

.menuSearch input {
    background: none;
    border-style: none;
    border-bottom: 4px solid rgb(190, 190, 190);
    padding-left: 0.2px;
    outline: none;
    margin-bottom: 7px;
}

.menuSearch i {
    color: #ee2027;
    background: none;
}


/* Menu de apresentação */

#apresentacao {
    text-align: center;
    width: 100%;
    position: relative;
    user-select: none;
}

#apresentacao img {
    width: 100%;
    border-bottom: 2px solid #ee2027;
}

#apresentacao #divTitulo {
    margin: auto;
    margin-top: 23%;
    width: 100%;
    position: absolute;
}

#apresentacao h1 {
    font-size: 5em;
    margin-left: 8%;
    color: #ee2027;
    cursor: pointer;
}

#apresentacao p {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.2em;
}

#apresentacao span {
    border-top: 10px solid rgb(25, 25, 25);
    border-bottom: 10px solid rgb(25, 25, 25);
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ee2027;
    margin-top: 4%;
    margin-bottom: 1.5%;
    font-size: 2.8em;
}


/* Div buscando a api dos herois */

#meusHerois {
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#meusHerois img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px 0px 30px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.185);
    border-top: 3px solid #ee2027;
}

.personagem {
    margin: 1%;
    width: 20%;
    cursor: pointer;
    border-radius: 20px 0px;
    transition: 0.50s;
}

.personagem:hover {
    transform: scale(1.040);
}


/* Footer */

#meuFooter {
    margin-top: 3.50%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meuFooter a {
    margin-left: 1%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.50s;
}

#meuFooter a:hover {
    color: #ee2027;
}


/* Classes utilizadas para o Search no js */

.esconder {
    display: none;
}

.mostrar {
    display: block;
}

.menuNavItens {
    margin-top: 2%;
    width: 100%;
    color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.menuNavItens i {
    padding: 0px 8px;
    cursor: pointer;
    transition: 0.30s;
}

.menuNavItens #numbers {
    display: flex;
    justify-content: space-around;
}

.menuNavItens a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: 0.30s;
    padding: 0px 8px;
}

#numbers a:hover,
.menuNavItens i:hover {
    color: #ee2027;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
}

#container>div {
    width: 100px;
    height: 140px;
    border-radius: 10%;
    background-color: rgba(155, 0, 0, 0.623);
}

.btn-pesquisar {
    background-color: rgb(255, 0, 13);
}

.btn-pesquisar:hover {
    background-color: rgb(255, 81, 81);
}

.btn-herois {
    font-size: 14px !important;
    background-color: #ff1119;
    width: -webkit-fill-available;
    text-align: center;
}
.btn-herois:hover {
    background-color: #ff081088;
}

.btn-primary:hover {
    background-color: rgb(255, 67, 67);
}

.inputPesquisa {
    width: -webkit-fill-available;
    font-size: 25px;
}

@keyframes animate {
    from {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

.desc {
    font-size: 1em;
    margin-top: 5%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;
}

#fechar,
#fechar-2 {
    position: absolute;
    color: #ffffff;
    top: 19.50%;
    left: 77.70%;
    float: right;
    cursor: pointer;
    transition: 0.40s;
}

#fechar:hover,
#fechar-2:hover {
    color: #ee2027;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
}

body::-webkit-scrollbar-thumb {
    background-color: #ee2027;
    border-radius: 20px;
    border: 1px solid rgb(25, 25, 25);
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgb(37, 32, 32);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ee2027;
    border-radius: 20px;
    border: 1px solid rgb(25, 25, 25);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #971a1f;
}

.voltarInicio {
    margin-bottom: 40px;
    width: 100%;
    text-align: -webkit-center;
}

.btn-voltar-inicio {
    width: 12%;
}


/* Ajustando as divs dos personagens em telas pequenas */

@media only screen and (max-width: 600px) {
    .personagem {
        width: 40%;
    }
    #apresentacao h1 {
        font-size: 2em;
    }
    #apresentacao p {
        font-size: 0.80em;
    }
    #logo img {
        width: 200%;
        margin-left: 10%;
    }
    #meuSearch input {
        width: 50%;
    }
    #fechar,
    #fechar-2 {
        display: none;
    }
    /* #meuHeader li {
        margin-left: 8%;
        font-size: 0.60em;
    } */
    #meuHeader ul {
        font-size: 8rem;
    }
    .inputPesquisa {
        width: -webkit-fill-available;
        font-size: 50px;
    }
}

@media(max-width: 1200px) {
    #characters {
        font-size: 56px;
    }
    .btn-pesquisar {
        font-size: 45px !important;
        width: 705px;
        margin-bottom: 16px;
    }
    .btn-herois {
        font-weight: bolder;
        display: initial;
        font-size: 30px !important;
        width: 420px;
        margin-bottom: 52px;
        background-color: #ff1119;
    }
    .btn-herois:hover {
        background-color: #ff081088;
    }
    .btn-limpar {
        font-size: 45px !important;
        width: 705px;
    }
    .btnVerMais {
        margin-bottom: 50px !important;
        font-size: 45px !important;
        width: 705px !important;
    }
    .inputPesquisa {
        font-size: 50px
    }
    h4 {
        font-size: 80px;
    }
    #meuFooter {
        height: 80px;
        position: fixed;
        bottom: -20px;
        margin-bottom: 15px;
    }
    #meuHeader {
        height: 109px ;
        margin-bottom: -36px ;
        margin-top: -2px ; 
        position: relative;
    }
    #logo {
        width: 20%;
        margin-left: 26px;
    }
    .buttonMenu {
        border-radius: 4px;
        font-size: 4.8rem !important;
        background-color: #ebe4e48c; /* Green */
        border: none;
        color: rgba(255, 255, 255, 0.877);
        padding: 0px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #divTitulo {
        font-size: 28px;
        margin-left: -40px !important;
    }
    #quadrinhos {
        font-size: 50px;
    }
    #heroisTitulo {
        margin-top: 81px;
        font-size: 50px;
    }
    .descricaoHeroi {
        width: 70%;
        text-align: left;
        font-size: 46px;
    }
    .cardQuadrinho {
        flex: 1 1 150px;
        margin: 17px;
    }
    #quadrinhoImg {
        width: 400px;
    }
    .quadrinhoTitle {
        font-size: 38px;
    }
    #imgHero {
        width: 356px;
    }
    #cardMarvel {
        width: 716px;
    }
    .voltarInicio {
        margin-bottom: 160px;
    }
    #naoEncontrado {
        text-align: center;
        font-size: 32px;
    }
    .btn-voltar-inicio {
        width: 35%;
        font-size: 38px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    #apresentacao h1 {
        font-size: 2.8em;
    }
}

@media only screen and (min-width: 769px) {
    #meuHeader i {
        display: none;
    }
    #meuHeader ul {
        display: flex;
    }
}

.elementToFadeInAndOut {
    width: 200px;
    height: 20px;
    background: red;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#naoEncontrado {
    text-align: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnVerMais {
    width: 42%;
    text-align: center;
    margin-top: 1px !important;
    margin: auto;
    background-color: rgb(255, 5, 17);
}

.btnVerMais:hover {
    width: 42%;
    text-align: center;
    margin-top: 1px !important;
    margin: auto;
    background-color: rgb(255, 67, 67);
}