<!-- <div>
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{'active': $ctrl.isActive('/home')}"><a href="#!home">Home</a></li>
        <li role="presentation" ng-class="{'active': $ctrl.isActive('/contato')}"><a href="#!contato">Contato</a></li>
        <li role="presentation" ng-class="{'active': $ctrl.isActive('/sobre')}"><a href="#!sobre">Sobre</a></li>
    </ul>
</div> -->

<!-- Menu -->
<header id='meuHeader'>
    <div id='logo'>
        <img src="img/Marvel_Logo.svg.png" alt="marvel_Logo">
    </div>

    <ul id='minhaUl'>
        <li role="presentation" ng-class="{'active': $ctrl.isActive('/home')}"><a href="#!home">Início</a></li>
        <li role="presentation" ng-class="{'active': $ctrl.isActive('/herois')}"><a href="#!herois">Heróis</a></li>
        <!-- <li role="presentation" ng-class="{'active': $ctrl.isActive('/home')}"><a href="#!home"><a
                    href="#apresentacao">Início</a></li>
        <li role="presentation" ng-class="{'active': $ctrl.isActive('/contato')}"><a href="#!contato"><a
                    href="#/heroisteste">Heróis</a></li> -->
    </ul>
    <i class="fas fa-times " id='botao-2'></i>
    <i class="fas fa-bars " id='botao'></i>
</header>
