<!-- Quadrinhos -->
<div id='quadrinhos#'>
    <h2 id='quadrinhos'>HERÓIS</h2>
    <div class="descricaoHeroi ">
    </div>
</div>
<div id="heroiPage" class="father white divQuadrinho">
    <div class="cardQuadrinho " id='quadrinhosVerMais' ng-repeat="_listaHerois in listaHerois track by $index ">
        <img id="quadrinhoImg" ng-if="quadrinhoImg " ng-src="{{ _listaHerois.img }} " alt="Avatar ">
        <div>
            <a ng-class="{'active': $ctrl.isActive('/ver-mais')}" href="#!/ver-mais">

                <h5 class="quadrinhoTitle "><button class="btn btn-danger btn-block btn-pesquisar"
                        ng-bind="_listaHerois.name"
                        ng-click="pesquisarHeroi(_listaHerois.name); pesquisarQuadrinhos(_listaHerois.id)"> </button>
                </h5>

            </a>
        </div>
    </div>
</div>