<!-- INICIO -->
<div id='apresentacao'>

    <div id='divTitulo'>
        <h1>MARVEL <span>API</span></h1>
        <p>Conheça os quadrinhos e heróis da API da Marvel!</p>
    </div>
    <img src="img/wallpaperflare.com_wallpaper.jpg" alt="fundo_Marvel">

</div>


<!-- Heróis -->
<h2 id='characters'>PESQUISAR PERSONAGEM</h2>

<form class='menuSearch'>

    <input class="cursor inputPesquisa " type="text " ng-model="heroi.nome " placeholder="Faça sua Busca " required>
    <button name="search " id="search " class="btn btn-danger btn-block btn-pesquisar "
        ng-click="pesquisarHeroi(heroi.nome)">PESQUISAR</button>
    <button name="clear " id="clear " class="btn btn-warning btn-block btn-limpar "
        ng-click="limparInput(heroi)">LIMPAR</button>
    <label class=" " id="naoEncontrado " ng-hide="naoEncontrado">Ops, herói não Encontrado</label
        class="elementToFadeInAndOut ">
    <i class="fas fa-search fa-1x "></i>

</form>


<div id="cardMarvel" ng-model="heroiImg ">

    <img id="imgHero" ng-if="heroiImg " ng-src="{{heroiImg}} " alt="Avatar ">
    <div class="heroiName ">
        <h4><b ng-bind="heroiName"> </b></h4>
    </div>
    <div>
        <a href="#quadrinhos#">
            <button ng-if="heroiImg " name="search " id="search " class="btn btn-danger btn-block btnVerMais "
                ng-click="pesquisarQuadrinhos(quadrinhos) ">VER MAIS</button>
        </a>
        </button>
    </div>

</div>


<!-- Quadrinhos -->
<div id='quadrinhos#' ng-if="mostrarLimparQuadrinhos">
    <h2 id='quadrinhos'>DESCRIÇÃO E QUADRINHOS</h2>
    <div class="descricaoHeroi ">
        <p ng-bind='heroiDesc'></p>
    </div>
</div>


<div ng-if='mostrarLimparQuadrinhos' class="father white ">
    <div class="cardQuadrinho " id='quadrinhosVerMais' ng-repeat="quadrinho in quadrinhosInfo track by $index ">
        <img id="quadrinhoImg" ng-if="quadrinhoImg " ng-src="{{ quadrinho.img }} " alt="Avatar ">
        <div>
            <h5 class="quadrinhoTitle "><b ng-bind="quadrinho.title "> </b></h5>
        </div>
    </div>

</div>

<div ng-if="mostrarLimparQuadrinhos" class="voltarInicio">
    <a href="#characters">
        <button ng-if="heroiImg " name="search " id="search "
            class="btn btn-danger btn-block btn-voltar-inicio ">INICIO</button>
    </a>
</div>