<div id="cardMarvel" ng-model="heroiImg ">
    <img id="imgHero" ng-src="{{heroiImg}} " alt="Avatar ">
    <div class="heroiName ">
        <h4><b ng-bind="heroiName"> </b></h4>
    </div>
</div>

<!-- Quadrinhos -->
<div id='quadrinhos#'>
    <h2 id='quadrinhos'>DESCRIÇÃO E QUADRINHOS</h2>
    <div class="descricaoHeroi ">
        <p ng-bind='heroiDesc'></p>
    </div>
</div>

<div class="father white ">
    <div class="cardQuadrinho " id='quadrinhosVerMais' ng-repeat="quadrinho in quadrinhosInfo track by $index ">
        <img id="quadrinhoImg" ng-src="{{ quadrinho.img }} " alt="Avatar ">
        <div>
            <h5 class="quadrinhoTitle "><b ng-bind="quadrinho.title "> </b></h5>
        </div>
    </div>

</div>
<div class="voltarInicio">
    <a href="#!herois">
        <button name="search " id="search " class="btn btn-warning btn-block btn-voltar-inicio ">voltar</button>
    </a>
</div>